<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.px.init.company.model.dao.CompanyMapper">
    <resultMap id="companyDTOResultMap" type="com.px.init.company.model.dto.CompanyDTO">
        <id property="companyCodePk" column="COMPANY_CODE_PK"/>
        <result property="numEmp" column="NUM_EMP"/>
        <result property="comAddress" column="COM_ADDRESS"/>
        <result property="avgSalary" column="AVG_SALARY"/>
        <result property="benefits" column="BENEFITS"/>
        <result property="comIntro" column="COM_INTRO"/>
        <result property="comName" column="COM_NAME"/>
        <result property="RepName" column="REP_NAME"/>
        <result property="registNumber" column="REGIST_NUMBER"/>
        <result property="isApproved" column="IS_APPROVED"/>
        <result property="isRevealed" column="IS_REVEALED"/>
        <result property="comUrl" column="COM_URL"/>
    </resultMap>

    <select id="selectCompanyByRegsitNumber" resultMap="companyDTOResultMap">
        SELECT
               A.COMPANY_CODE_PK
             , A.NUM_EMP
             , A.COM_ADDRESS
             , A.AVG_SALARY
             , A.BENEFITS
             , A.COM_INTRO
             , A.COM_NAME
             , A.REP_NAME
             , A.REGIST_NUMBER
             , A.IS_APPROVED
             , A.IS_REVEALED
             , A.COM_URL
          FROM TBL_COM_COMPANY A
         WHERE A.IS_DELETED = 'N'
           AND A.REGIST_NUMBER = ${registNumber}
    </select>
    <insert id="insertCompany" parameterType="CompanyDTO">
        INSERT
          INTO TBL_COM_COMPANY A
             (
               A.COMPANY_CODE_PK, A.REGIST_NUMBER, A.COM_URL, A.COM_NAME
             )
        VALUES
             (
               #{companyCodePk}, #{registNumber}, #{comUrl}, #{comName}
             )

    </insert>
    <select id="getCompanyNextSeq" resultType="_int">
        SELECT
               SEQ_COM_COMPANY_CODE_PK.nextval
          FROM DUAL
    </select>
</mapper>













