<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.px.init.member.model.dao.MemberMapper">
    <resultMap id="memberAndRoleAndAuthorityDTOResultMap" type="MemberDTO">
        <id property="memberCodePk" column="MEMBER_CODE_PK"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPw" column="MEMBER_PW"/>
        <result property="pwIsTemp" column="PW_IS_TEMP"/>
        <result property="pwChangedDate" column="PW_CHANGED_DATE"/>
        <result property="pwExpirationDate" column="PW_EXPIRATION_DATE"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="signupDate" column="SIGNUP_DATE"/>
        <result property="expirationDate" column="EXPIRATION_DATE"/>
        <result property="isExpiration" column="IS_EXPIRATION"/>
        <result property="withdrawalDate" column="WITHDRAWAL_DATE"/>
        <result property="isWithdrawal" column="IS_WITHDRAWAL"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="isEntMember" column="IS_ENT_MEMBER"/>
        <collection property="memberRole" resultMap="roleAndAuthorityDTOResultMap"/>
    </resultMap>
    <resultMap id="roleAndAuthorityDTOResultMap" type="MemberRoleDTO">
        <id property="memberCode" column="MEMBER_NO_PK_FK"/>
        <result property="authorityCode" column="AUTHORITY_CODE_PK_FK"/>
        <association property="authority" resultMap="authorityDTOResultMap"/>
    </resultMap>
    <resultMap id="authorityDTOResultMap" type="AuthorityDTO">
        <id property="authorityCode" column="AUTHORITY_CODE"/>
        <result property="authorityName" column="AUTHORITY_NAME"/>
        <result property="authorityDesc" column="AUTHORITY_DESC"/>
    </resultMap>

    <select id="selectMemberByMemberId" resultMap="memberAndRoleAndAuthorityDTOResultMap">
        SELECT
               A.MEMBER_CODE_PK
             , A.MEMBER_ID
             , A.MEMBER_PW
             , A.PW_IS_TEMP
             , A.PW_CHANGED_DATE
             , A.PW_EXPIRATION_DATE
             , A.MEMBER_NAME
             , A.SIGNUP_DATE
             , A.EXPIRATION_DATE
             , A.IS_EXPIRATION
             , A.WITHDRAWAL_DATE
             , A.IS_WITHDRAWAL
             , A.PHONE
             , A.EMAIL
             , A.IS_ENT_MEMBER
             , B.MEMBER_NO_PK_FK
             , B.AUTHORITY_CODE_PK_FK
             , C.AUTHORITY_CODE
             , C.AUTHORITY_NAME
             , C.AUTHORITY_DESC
          FROM TBL_MB_MEMBER A
          JOIN TBL_MB_MEMBER_ROLE B ON(A.MEMBER_CODE_PK = B.MEMBER_NO_PK_FK)
          JOIN TBL_MB_AUTHORITY C on B.AUTHORITY_CODE_PK_FK = C.AUTHORITY_CODE
         WHERE A.MEMBER_ID = #{memberId}
    </select>

    <select id="selectMemberByEmail" resultType="MemberDTO">
        SELECT
               MEMBER_ID
          FROM TBL_MB_MEMBER
         WHERE EMAIL = #{email}
    </select>

    <insert id="insertPersonalMember" parameterType="PersonalMemberDTO">
        INSERT ALL
        INTO TBL_MB_MEMBER
        (
          MEMBER_CODE_PK, MEMBER_ID, MEMBER_PW
        , PW_CHANGED_DATE, PW_EXPIRATION_DATE, MEMBER_NAME
        , SIGNUP_DATE, EXPIRATION_DATE, WITHDRAWAL_DATE
        , PHONE, EMAIL
        )
        VALUES
        (
          SEQ_MB_MEMBER_CODE_PK.nextval, #{memberId}, #{memberPw}
        , SYSDATE, SYSDATE + 365, #{memberName}
        , SYSDATE, SYSDATE, NULL
        , #{phone}, #{email}
        )
        INTO TBL_MB_MEMBER_ROLE (MEMBER_NO_PK_FK, AUTHORITY_CODE_PK_FK)
            VALUES (SEQ_MB_MEMBER_CODE_PK.currval,2)
        SELECT *
        FROM DUAL
    </insert>

    <update id="updatePersonalMember" parameterType="PersonalMemberDTO">
        UPDATE TBL_MB_MEMBER A
        <set>
            <if test="memberName != null and memberName != ''">
                A.MEMBER_NAME = #{memberName}
            </if>
            <if test="phone != null and phone != ''">
              , A.PHONE = #{phone}
            </if>
        </set>
       WHERE A.MEMBER_ID = #{memberId}
    </update>
    <update id="updatePassword" parameterType="PersonalMemberDTO">
        UPDATE TBL_MB_MEMBER A
           SET A.MEMBER_PW = #{memberPw}
         WHERE A.MEMBER_ID = #{memberId}
    </update>
</mapper>
