<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.px.init.member.model.dao.MemberMapper">
    <resultMap id="memberAndRoleAndAuthorityDTOResultMap" type="MemberDTO">
        <id property="memberCodePk" column="MEMBER_CODE_PK"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPw" column="MEMBER_PW"/>
        <result property="pwIsTemp" column="PW_IS_TEMP"/>
        <result property="pwChangedDate" column="PW_CHANGED_DATE"/>
        <result property="pwExpirationDate" column="PW_EXPIRATION_DATE"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="signupDate" column="SIGNUP_DATE"/>
        <result property="expirationDate" column="EXPIRATION_DATE"/>
        <result property="isExpiration" column="IS_EXPIRATION"/>
        <result property="withdrawalDate" column="WITHDRAWAL_DATE"/>
        <result property="isWithdrawal" column="IS_WITHDRAWAL"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="isEntMember" column="IS_ENT_MEMBER"/>
        <collection property="memberRole" resultMap="roleAndAuthorityDTOResultMap"/>
    </resultMap>
    <resultMap id="roleAndAuthorityDTOResultMap" type="MemberRoleDTO">
        <id property="memberCode" column="MEMBER_NO_PK_FK"/>
        <result property="authorityCode" column="AUTHORITY_CODE_PK_FK"/>
        <association property="authority" resultMap="authorityDTOResultMap"/>
    </resultMap>
    <resultMap id="authorityDTOResultMap" type="AuthorityDTO">
        <id property="authorityCode" column="AUTHORITY_CODE"/>
        <result property="authorityName" column="AUTHORITY_NAME"/>
        <result property="authorityDesc" column="AUTHORITY_DESC"/>
    </resultMap>

    <resultMap id="companyMemberDTOResultMap" type="com.px.init.member.model.dto.CompanyMemberDTO">
        <id property="memberCodePk" column="MEMBER_CODE_PK"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="signupDate" column="SIGNUP_DATE"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="registNumber" column="REGIST_NUMBER"/>
        <result property="comName" column="COM_NAME"/>
        <result property="comUrl" column="COM_URL"/>
        <association property="entMember" resultMap="entMemberDTOResultMap"/>
    </resultMap>

    <resultMap id="entMemberDTOResultMap" type="com.px.init.member.model.dto.EntMemberDTO">
        <id property="memberCodeFk" column="MEMBER_CODE_FK"/>
        <result property="companyCodeFk" column="COMPANY_CODE_FK"/>
        <result property="remainingPost" column="REMAINING_POST"/>
        <result property="remainingInquire" column="REMAINING_INQUIRE"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <association property="company" resultMap="companyDTOResultMap"/>
    </resultMap>
    <resultMap id="companyDTOResultMap" type="com.px.init.company.model.dto.CompanyDTO">
        <id property="companyCodeFk" column="COMPANY_CODE_FK" />
        <result property="registNumber" column="REGIST_NUMBER"/>
        <result property="comName" column="COM_NAME"/>
        <result property="comUrl" column="COM_URL"/>
        <result property="isRevealed" column="IS_REVEALED"/>
        <result property="isApproved" column="IS_APPROVED"/>
    </resultMap>

    <select id="selectMemberByMemberId" resultMap="memberAndRoleAndAuthorityDTOResultMap">
        SELECT
               A.MEMBER_CODE_PK
             , A.MEMBER_ID
             , A.MEMBER_PW
             , A.PW_IS_TEMP
             , A.PW_CHANGED_DATE
             , A.PW_EXPIRATION_DATE
             , A.MEMBER_NAME
             , A.SIGNUP_DATE
             , A.EXPIRATION_DATE
             , A.IS_EXPIRATION
             , A.WITHDRAWAL_DATE
             , A.IS_WITHDRAWAL
             , A.PHONE
             , A.EMAIL
             , A.IS_ENT_MEMBER
             , B.MEMBER_NO_PK_FK
             , B.AUTHORITY_CODE_PK_FK
             , C.AUTHORITY_CODE
             , C.AUTHORITY_NAME
             , C.AUTHORITY_DESC
          FROM TBL_MB_MEMBER A
          JOIN TBL_MB_MEMBER_ROLE B ON(A.MEMBER_CODE_PK = B.MEMBER_NO_PK_FK)
          JOIN TBL_MB_AUTHORITY C on B.AUTHORITY_CODE_PK_FK = C.AUTHORITY_CODE
         WHERE A.IS_WITHDRAWAL = 'N'
           AND A.MEMBER_ID = #{memberId}
    </select>

    <select id="selectMemberByEmail" resultType="MemberDTO">
        SELECT
               A.MEMBER_CODE_PK
             , A.MEMBER_ID
             , A.EMAIL
             , A.MEMBER_NAME
          FROM TBL_MB_MEMBER A
         WHERE A.IS_WITHDRAWAL = 'N'
           AND A.EMAIL = #{email}
    </select>

    <insert id="insertPersonalMember" parameterType="DefaultMemberDTO">
        INSERT ALL
        INTO TBL_MB_MEMBER
        (
          MEMBER_CODE_PK, MEMBER_ID, MEMBER_PW
        , PW_CHANGED_DATE, PW_EXPIRATION_DATE, MEMBER_NAME
        , SIGNUP_DATE, EXPIRATION_DATE, WITHDRAWAL_DATE
        , PHONE, EMAIL
        )
        VALUES
        (
          SEQ_MB_MEMBER_CODE_PK.nextval, #{memberId}, #{memberPw}
        , SYSDATE, SYSDATE + 365, #{memberName}
        , SYSDATE, SYSDATE, NULL
        , #{phone}, #{email}
        )
        INTO TBL_MB_MEMBER_ROLE (MEMBER_NO_PK_FK, AUTHORITY_CODE_PK_FK)
            VALUES (SEQ_MB_MEMBER_CODE_PK.currval,2)
        SELECT *
        FROM DUAL
    </insert>

    <insert id="insertCompanyMember" parameterType="CompanyMemberDTO">
        INSERT ALL
        INTO TBL_MB_MEMBER
        (
            MEMBER_CODE_PK, MEMBER_ID, MEMBER_PW
        , PW_CHANGED_DATE, PW_EXPIRATION_DATE, MEMBER_NAME
        , SIGNUP_DATE, EXPIRATION_DATE, WITHDRAWAL_DATE
        , PHONE, EMAIL, IS_ENT_MEMBER
        )
        VALUES
            (
                ${memberCodePk}, #{memberId}, #{memberPw}
            , SYSDATE, SYSDATE + 365, #{memberName}
            , SYSDATE, SYSDATE, NULL
            , #{phone}, #{email}, 'Y'
            )
        INTO TBL_MB_MEMBER_ROLE (MEMBER_NO_PK_FK, AUTHORITY_CODE_PK_FK)
        VALUES (SEQ_MB_MEMBER_CODE_PK.currval,3)
        INTO TBL_MB_ENT_MEBER (REMAINING_POST, REMAINING_INQUIRE, COMPANY_CODE_FK, MEMBER_CODE_FK)
        VALUES (0, 0, null, SEQ_MB_MEMBER_CODE_PK.currval)
        SELECT *
        FROM DUAL
    </insert>

    <update id="updatePersonalMember" parameterType="DefaultMemberDTO">
        UPDATE TBL_MB_MEMBER A
        <set>
            <if test="memberName != null and memberName != ''">
                A.MEMBER_NAME = #{memberName}
            </if>
            <if test="phone != null and phone != ''">
              , A.PHONE = #{phone}
            </if>
        </set>
       WHERE A.IS_WITHDRAWAL = 'N'
         AND A.MEMBER_ID = #{memberId}
    </update>
    <update id="updatePassword" parameterType="DefaultMemberDTO">
        UPDATE TBL_MB_MEMBER A
           SET A.MEMBER_PW = #{memberPw}
             , A.PW_IS_TEMP ='N'
         WHERE A.IS_WITHDRAWAL = 'N'
           AND A.MEMBER_ID = #{memberId}
    </update>
    <update id="deleteMember">
        UPDATE  TBL_MB_MEMBER A
           SET A.IS_WITHDRAWAL = 'Y'
             , A.WITHDRAWAL_DATE = SYSDATE
         WHERE A.IS_WITHDRAWAL = 'N'
           AND A.MEMBER_CODE_PK = #{memberCodePk}
    </update>

    <select id="selectEntMemberByMemberCodeFk" resultType="EntMemberDTO">
        SELECT
               A.MEMBER_CODE_FK
             , A.COMPANY_CODE_FK
             , A.REMAINING_POST
             , A.REMAINING_INQUIRE
             , A.IS_ACTIVE
          FROM TBL_MB_ENT_MEBER A
         WHERE A.MEMBER_CODE_FK = #{memberCodePk}
    </select>


    <select id="selectSignupList" resultMap="companyMemberDTOResultMap">
        SELECT
               A.MEMBER_CODE_PK
             , A.MEMBER_ID
             , A.MEMBER_NAME
             , A.SIGNUP_DATE
             , A.PHONE
             , A.EMAIL
             , B.MEMBER_CODE_FK
             , B.REMAINING_POST
             , B.REMAINING_INQUIRE
             , B.IS_ACTIVE
             , C.COMPANY_CODE_PK
             , C.COM_URL
             , C.COM_NAME
             , C.REGIST_NUMBER
             , C.IS_REVEALED
             , C.IS_APPROVED
          FROM TBL_MB_MEMBER A
          JOIN TBL_MB_ENT_MEBER B ON (A.MEMBER_CODE_PK = B.MEMBER_CODE_FK)
          JOIN TBL_COM_COMPANY C ON (B.COMPANY_CODE_FK = C.COMPANY_CODE_PK)
           AND A.IS_ENT_MEMBER = 'Y'
           AND B.IS_ACTIVE = 'N'
           AND A.IS_WITHDRAWAL = 'N'
    </select>
    <select id="selectSignupByMemberCodePk" resultMap="companyMemberDTOResultMap">
        SELECT
               A.MEMBER_CODE_PK
             , A.MEMBER_ID
             , A.MEMBER_NAME
             , A.SIGNUP_DATE
             , A.PHONE
             , A.EMAIL
             , B.MEMBER_CODE_FK
             , B.REMAINING_POST
             , B.REMAINING_INQUIRE
             , B.IS_ACTIVE
             , C.COMPANY_CODE_PK
             , C.COM_URL
             , C.COM_NAME
             , C.REGIST_NUMBER
             , C.IS_REVEALED
             , C.IS_APPROVED
          FROM TBL_MB_MEMBER A
          JOIN TBL_MB_ENT_MEBER B ON (A.MEMBER_CODE_PK = B.MEMBER_CODE_FK)
          JOIN TBL_COM_COMPANY C ON (B.COMPANY_CODE_FK = C.COMPANY_CODE_PK)
           AND A.IS_ENT_MEMBER = 'Y'
           AND B.IS_ACTIVE = 'N'
           AND A.IS_WITHDRAWAL = 'N'
         WHERE A.MEMBER_CODE_PK = #{memberCodePk}
    </select>

    <update id="putCompanyMember">
        UPDATE TBL_MB_ENT_MEBER A
           SET A.COMPANY_CODE_FK = #{companyCodeFk}
         WHERE A.MEMBER_CODE_FK = #{memberCodeFk}

    </update>

    <select id="getMemberNextSeq" resultType="_int">
        SELECT SEQ_MB_MEMBER_CODE_PK.nextval
          FROM DUAL
    </select>

    <update id="updateEntMemberIsActive" parameterType="_int">
        UPDATE TBL_MB_ENT_MEBER A
           SET A.IS_ACTIVE = 'Y'
         WHERE A.MEMBER_CODE_FK = #{memberCodeFk}
    </update>

    <update id="setMemberPwTemp" parameterType="MemberDTO">
        UPDATE TBL_MB_MEMBER A
           SET A.MEMBER_PW = #{memberPw}
             , A.PW_IS_TEMP = 'Y'
         WHERE A.MEMBER_CODE_PK = #{memberCodePk}
           AND A.IS_WITHDRAWAL = 'N'
    </update>
</mapper>
